* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  height: 100vh;
  background-image: url("https://images3.alphacoders.com/104/thumb-1920-1046496.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.6rem;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  /* a cada 1rem será considerado 10px*/
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;
}

@media (max-width: 540px) {
  body {
    font-size: 1rem;
    height: 100vh;
  } 
}

@media (max-width: 450px) {
  body {
    height: 120vh;
  } 
}

@media (max-width: 400px) {
  body {
    height: 120vh;
  } 
}

@media (max-width: 320px) {
  body {
    height: 120vh;
  } 
}
